.opportunity{
    &-wrap{
        position: relative;
        min-height: 799px;
        margin-top: 175px;
        background-image: url(../images/bg-02.jpg);
        background-repeat: $n_rep;
        background-size: $cov;
        background-position:$cent $cent;
  
    &::before{
        content: '';
        position: $abs;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: $gallery_bg;
        opacity: 0.7;
    }
  }
  
    &__box{
      display: $fl;
      flex-wrap: $wr;
      position: $rel;
      margin: 0 -10px;
      padding-top: 146px;
      z-index: 2;
  
      >div{
        display: $fl;
        flex-direction: column;
        align-items: $cent;
        width: 100%;
        padding: 0 10px 60px;
        text-align: $cent;
  
        @media (min-width:768px){
            width: calc(100%/4);
            padding: 0px 10px 68px;
            margin-top: -15px;
        }
      }
    }
  
    &__item{
      h2{
        font-size: 18px;
        font-weight: 700;
        line-height: 1.5;
        color: $basic_bg;
        margin-top: 37px;
      }
    
      p{
        font-size: 16px;
        font-weight: 400;
        line-height: 1.6;
        color: $basic_bg;
        text-align: $cent;
        padding: 0 5px;
    }
}    

&__title{
    margin-bottom: 43px;
}

    &__visual{
        position: $rel;
        flex-grow: 1;
    }
  
    &__link{
      &::before{
        content: '';
        position: $abs;
        top: -13px;
        left: -18px;
        width: 70px;
        height: 70px;
        border-radius: 34px;
        z-index: 1;
        background-color: $trans;
        border: 3px solid $basic_bg;
      }
    }

    &__link-mod{
      &::before{
        content: '';
        position: $abs;
        top: -13px;
        left: -25px;
        width: 70px;
        height: 70px;
        z-index: 1;
        border-radius: 34px;
        background-color: $trans;
        border: 3px solid $basic_bg;
      }
    }

    &__link-mod2{
      &::before{
        position: $abs;
        content: '';
        top: -9px;
        left: -12px;
        z-index: 1;
        width: 70px;
        height: 70px;
        border-radius: 34px;
        background-color: $trans;
        border: 3px solid $basic_bg;
      }
    }

    &__mod{
      position: $rel;
      top: 8px;
      left: -2px;
    }

    &__mod2{
      position: $rel;
      left: 2px;
      top: 3px;
    }
}
