.btn{
    color: $white_bg;
    font-size: 16px;
    line-height: 18.8px;
    font-weight: 600;
    display: inline-block;
    text-align: center;
    padding:16px 64px 16px 64px;
    background-color: $btn_bg;
    border-radius: 7px;
    cursor: pointer;
}