.btn{
    color: white;
    font-size: 16px;
    line-height: 18.8px;
    font-weight: 600;
    display: inline-block;
    text-align: center;
    padding: 13px 66px 19px 63px;
    background-color: $btn_bg;
    border-radius: 7px;
    cursor: pointer;
}