.class {
    &-inner{
        padding-top: 50px;
        background-color: $white_bg;

        @media (min-width:992px) {
            padding-top: 100px;
        }
    }

    &__wrap{
        font-weight: 400;
        line-height: 16.8px;
        color: rgb(85,85,85);
        text-align: center;
    }

    &__title{
        font-size: 22px;
        font-weight: 700;
        line-height: 1.5;
        color: $link_hov;
        text-transform: $upp;
        text-align: $cent;
        margin-top: 11px;

        @media (min-width:415px) {
            font-size: 30px;
        }
    }

    &__subtitle{
        display: $in_bl;
        font-family: $add_font;
        font-size: 35.99px;
        font-weight: 400;
        line-height: 1.5;
        color: $class_sub;
        text-transform: $no;

        @media(min-width:992px){
            font-size: 40.99px;
            line-height: 1.5;
            margin-top: 0;
        }
    }

    &__box{
        text-align: left;
    }

    &__list {
        display: $fl;
        justify-content: $cent;
        flex-wrap: wrap;
        margin-top: 15px;

        @media (min-width:768px) {
            flex-wrap: wrap;
            justify-content: $cent;
            margin-top: 30px;
        }

        @media(min-width:1100px){
            justify-content: space-between;
            margin-top: 57px;
        }
    }
    
    &__item {
        display: $fl;
        flex-direction: column;
        width: 100%;
        max-width: 500px;
        margin-bottom: 35px;
        cursor: $point;
        box-shadow:$box-shadow_class;

    @media (min-width:768px) {
        flex-direction: row;
        margin-bottom: 20px;
    }

    @media (min-width:1000px) {
        flex-direction: row;
        margin-left: 18px;
    }

    @media (min-width:1200px){
        flex-direction: row;
        max-width: 538px;
        margin-bottom: 25px;
        margin-left: 35px;
    }
}
    
    &__visual {
        position: $rel;
        width: 100%;
        max-width: 100%;
        min-height: 300px;

        @media (min-width:768px) {
            max-width: 242px;
            min-height: 300px;
        }
    
    
    img {
        position: $abs;
        width: 100%;
        height: 100%;
        left: 0;
        top:0;
        object-fit: $cov;
    }

}
    
    &__info {
        max-width: 267px;
        padding-left: 24px;
        padding-top: 25px;
        color: $class_inf;
    }
    
    &__slogan {
        font-size: 20px;
        font-weight: 700;
        line-height: 22.8px;
        text-transform: $upp;
        margin-bottom: 31px;
    }
    
    &__text {
        width: 100%;
        max-width: 222px;
        font-size: 10px;
        line-height: 1.5;
        margin-bottom: 20px;

        @media (min-width:530px) {
            font-size: 14px;
            margin-bottom: 16px;
        }
    }
    
    &__author{
        font-size: 10px;
        color:$class_author;

        @media (min-width:768px) {
            font-size: 14px;
        }
    }
}