@font-face {
    font-family: 'freestyle_scriptregular';
    src: url('../fonts/freescpt-webfont.woff2') format('woff2'),
    url('../fonts/freescpt-webfont.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}