.content{
    width: 100%;
    position: $rel;
    min-height: 600px;
    background-image: url(../images/bg-01.jpg);
    background-repeat: $n_rep;
    background-size: $cov;
    background-position:$cent $cent;
    margin-top: 17px;

    &::before{
        content: '';
        background: #5363db;
        position: $abs;
        top: 0;
        left: 0;
        opacity: 0.7;
        width: 100%;
        height: 100%;
    }

    @media (min-width:992px) {
        margin-top: 15px;
    }
        
    &-inner{
        display: $fl;
        padding-top: 40px;
        
        @media (max-width:630px) {
            flex-wrap: $wr;
            justify-content: $cent;
        }

        @media (min-width:631px) {
            justify-content: $sp_bet;
            padding-top: 100px;
        }
    }
        
    &__btn{
        align-self: flex-end;
        transition: box-shadow 1s, background-color 1s;
        margin-top: 27px;
        margin-right: 2px;

        @media (min-width:768px) {
            margin-top: 34px;
        }
    
        @media (min-width:992px) {
            margin-top: 28px;
        }

        &:hover{
            background-color: $link_hov;
            box-shadow: $box-shadow_btn;
        }
    }

    &__form{
        display: $fl;
        flex-direction: column;
        align-items: $cent;
        position: $rel;
        font-size: 16.64px;
        font-weight: 600;
        line-height: 18.8px;
        padding: 14px 26px 34px;
        border-radius: 20px;
        color: $link_hov;
        background-color: $basic_bg;

        @media (min-width:768px) {
            margin-left: 24px;
            padding: 16px 30px 33px;
            border-radius: 20px;
        }
    
        @media (min-width:1200px) {
            margin-left: 0;
        }
    
        @media (min-width:1400px) {
            text-transform: unset;
            margin-left: 239px;
            padding: 17px 30px 35px;
        }
    
        &::before{
            content: '';
            position: $abs;
            box-shadow: 8px 0 10px $box-shadow_rgba;
        }
    }

    &__title{
        font-size: 25.64px;
        font-weight: 600;
        line-height: 27.8px;
        text-transform: $upp;
        margin-bottom: 12px;
        margin-left: 9px;
        align-self: flex-start;
        
        @media (min-width:768px) {
            margin-bottom: 12px;
            margin-left: 4px;
            align-self: flex-start;
            text-transform: $upp;
        }
            
        @media (min-width:992px) {
            margin-bottom: 10px;
            margin-left: 5px;
            align-self: flex-start;
            text-transform: unset;
            }
        }

    &__item{
        font-size: 14px;
        font-weight: 400;   
        line-height: 16.9px;
        padding: 14px 58px 20px 10px;
        border-radius: 10px;
        color: $link_col;
        background-color: #f2f2f2;
        border-color: $white_bg;
        border: $no;
        cursor: $point;

        @media (min-width:768px) {
            padding: 16px 65px 18px 10px;
        }

        @media (min-width:992px) {
            padding: 14px 75px 18px 10px;
        }

        &:not(:last-child){
            margin-top: 15px;

            @media (min-width:992px) {
                margin-top: 17px;
            }  
        }
    }

    &-info{
        font-family: $add_font;
        font-weight: 400;
        font-size: 28px;
        line-height: 30.8px;
        color: $white_bg;
        z-index: 2;

        @media (min-width:768px) {
            margin-left: 64px;
            margin-top: 35px;
        }

        @media (min-width:1400px) {
            margin-right: 54px;   
        }

        p{
            text-align: $cent;
            margin-top: 0;

            @media (max-width:730px) {
                margin-left: 10px;
            }

            @media (min-width:768px) {
                font-size: 28px;
                line-height: 30.8px;
                margin-top: 0;
                margin-left: 1px;
                text-align: left;
            }

            @media (min-width:992px) {
                font-size: 40px;
                line-height: 42.8px;
                margin-top: 0;
            }
        }
    }

    &__slogan{
        font-family: $base_font;
        font-size: 37px;
        font-weight: 700;
        line-height: 1.5;
        text-align: $cent;
        text-transform: $upp;
        margin-top: 31px;
        margin-left: 3px;
        color: $white_bg;

        @media (max-width:730px) {
            margin-left: 10px;
        }

        @media (min-width:768px) {
            font-size: 44px;
            line-height: 1.5;
            text-align: left;
            margin-top: 27px;
            margin-right: 79px;
        }

        @media (min-width:992px) {
            font-size: 48px;
            line-height: 1.5;
            text-transform: $upp;
            margin: 21px 0 30px;
        }
    }

    &__select{
        position: $rel;
    }

    select{
        font-size: 14px;
        font-weight: 400;
        line-height: 16.9px;
        position: $rel;
        appearance: $no;
        margin-top: 15px;
        padding: 18px 96px 18px 18px;
        border-radius: 10px;
        border: $no;
        color: $link_col;
        background-color: $white_bg2;
        cursor: $point;
        z-index: 2;
        
        @media (min-width:768px) {
            padding: 19px 119px 14px 13px;
        }

        @media (min-width:992px) {
            padding: 19px 122px 20px 9px;
        }
    }


    &__select::before{
        content: "";
        position: $abs;
        display: in_bl;
        @include size(0,0);
        right: 6px;
        top: 38px;
        border: $sol $select_col;
        border-width: 0 2px 2px 0;
        padding: 2px;
        z-index: 3;
        text-align: $cent;
        pointer-events: $no;
        transform: rotate(45deg);

        @media (min-width:768px) {
            @include size(0,0);
            transform: rotate(45deg);
        }

        @media (min-width:992px) {
            font-size: 12px;
            @include size(0,0);
            right: 10px;
            top: 40px;
            border-style: $sol;
            border-width: 6px 3.5px 0 3.5px;
            border-color: $link_col transparent;
            z-index: 4;
            transform: rotate(0deg);
        }
    }

    &__select::after{
        @media (max-width:768px) {
            content: '';
            position: $abs;
            @include size(17px,50px);
            top: 15px;
            right: 1px;
            border-top-right-radius: 5px;
            border-bottom-right-radius: 5px;
            border: 1px $sol $select_col;
            background-color: $white_bg2;
            z-index: 2;
        }
    }
}