@font-face {
  font-family: 'freestyle_scriptregular';
  src: url("../fonts/freescpt-webfont.woff2") format("woff2"), url("../fonts/freescpt-webfont.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: url("../fonts/opensans-bold-webfont.woff2") format("woff2"), url("../fonts/opensans-bold-webfont.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: url("../fonts/opensans-regular-webfont.woff2") format("woff2"), url("../fonts/opensans-regular-webfont.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: url("../fonts/opensans-semibold-webfont.woff2") format("woff2"), url("../fonts/opensans-semibold-webfont.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon.eot?bz6ko9");
  src: url("../fonts/icomoon.eot?bz6ko9#iefix") format("embedded-opentype"), url("../fonts/icomoon.ttf?bz6ko9") format("truetype"), url("../fonts/icomoon.woff?bz6ko9") format("woff"), url("../fonts/icomoon.svg?bz6ko9#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-linkedin:before {
  content: "\e900";
}

.icon-twitter:before {
  content: "\e901";
}

.icon-facebook:before {
  content: "\e902";
}

.icon-phone:before {
  content: "\e942";
}

.icon-envelop:before {
  content: "\e945";
}

.icon-location2:before {
  content: "\e948";
}

.icon-search:before {
  content: "\e986";
}

.icon-circle-up:before {
  content: "\ea41";
}

.icon-circle-right:before {
  content: "\ea42";
}

.icon-circle-down:before {
  content: "\ea43";
}

.icon-circle-left:before {
  content: "\ea44";
}

.icon-google-plus3:before {
  content: "\ea8d";
}

.icon-dribbble:before {
  content: "\eaa7";
}

.icon-pinterest:before {
  content: "\ead1";
}

.icon-radio-unchecked:before {
  content: "\ea56";
}

*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

main {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

img {
  border-style: none;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type="checkbox"],
[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details {
  display: block;
}

summary {
  display: list-item;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

body {
  font-family: "Open Sans";
  font-size: 14px;
  font-weight: 400;
  min-width: 320px;
  min-height: 100vh;
}

#wrapper {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.container {
  max-width: 1200px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

img {
  display: inline-block;
  width: 100%;
  max-width: 100%;
  height: auto;
  vertical-align: top;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

input {
  display: block;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 0;
}

.btn {
  color: white;
  font-size: 16px;
  line-height: 18.8px;
  font-weight: 600;
  display: inline-block;
  text-align: center;
  padding: 16px 64px 16px 64px;
  background-color: #5b6ceb;
  border-radius: 7px;
  cursor: pointer;
}

.header {
  position: relative;
  padding-top: 19px;
  z-index: 5;
  background-color: #ffffff;
}

.header::before {
  content: '';
  position: absolute;
  -webkit-box-shadow: 3px 0 7px rgba(0, 0, 0, 0.15);
          box-shadow: 3px 0 7px rgba(0, 0, 0, 0.15);
}

.header__top-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: 600;
  line-height: 1.2;
}

@media (max-width: 600px) {
  .menu__item:not(:last-child) {
    margin-right: 0;
    margin-bottom: 8px;
  }
}

@media (min-width: 630px) {
  .menu__item:not(:last-child) {
    margin-right: 28px;
  }
}

@media (min-width: 992px) {
  .menu__item:not(:last-child) {
    margin-right: 29px;
  }
}

.menu__link {
  position: relative;
  border-bottom: 1px solid transparent;
  color: #959595;
  -webkit-transition: color 1s,border-bottom 2s;
  transition: color 1s,border-bottom 2s;
}

.menu__link--special {
  color: #959595;
  -webkit-transition: all 2s;
  transition: all 2s;
}

.menu__link--special::before {
  content: '';
  position: absolute;
  top: 19px;
  right: 14px;
  width: 30px;
  border-bottom: 1px solid transparent;
}

.menu__link--special:hover:before {
  color: #5363db;
  border-bottom: 1px solid #5363db;
}

.menu__link:hover:not(.menu__link--special) {
  border-bottom: 1px solid #5363db;
}

.menu__link:hover {
  color: #5363db;
}

.logo > img {
  width: 70px;
  height: 70px;
}

#menu__toggle {
  display: none;
}

.content {
  width: 100%;
  position: relative;
  min-height: 600px;
  background-image: url(../images/bg-01.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  margin-top: 17px;
}

.content::before {
  content: '';
  background: #5363db;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.7;
  width: 100%;
  height: 100%;
}

@media (min-width: 992px) {
  .content {
    margin-top: 15px;
  }
}

.content-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 40px;
}

@media (max-width: 630px) {
  .content-inner {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (min-width: 631px) {
  .content-inner {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-top: 100px;
  }
}

.content__btn {
  -ms-flex-item-align: end;
      align-self: flex-end;
  -webkit-transition: background-color 1s, -webkit-box-shadow 1s;
  transition: background-color 1s, -webkit-box-shadow 1s;
  transition: box-shadow 1s, background-color 1s;
  transition: box-shadow 1s, background-color 1s, -webkit-box-shadow 1s;
  margin-top: 27px;
  margin-right: 2px;
}

@media (min-width: 768px) {
  .content__btn {
    margin-top: 34px;
  }
}

@media (min-width: 992px) {
  .content__btn {
    margin-top: 28px;
  }
}

.content__btn:hover {
  background-color: #5363db;
  -webkit-box-shadow: 3px 0 5px rgba(0, 0, 0, 0.15);
          box-shadow: 3px 0 5px rgba(0, 0, 0, 0.15);
}

.content__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  font-size: 16.64px;
  font-weight: 600;
  line-height: 18.8px;
  padding: 14px 26px 34px;
  border-radius: 20px;
  color: #5363db;
  background-color: #ffffff;
}

@media (min-width: 768px) {
  .content__form {
    margin-left: 24px;
    padding: 16px 30px 33px;
    border-radius: 20px;
  }
}

@media (min-width: 1200px) {
  .content__form {
    margin-left: 0;
  }
}

@media (min-width: 1400px) {
  .content__form {
    text-transform: unset;
    margin-left: 239px;
    padding: 17px 30px 35px;
  }
}

.content__form::before {
  content: '';
  position: absolute;
  -webkit-box-shadow: 8px 0 10px rgba(0, 0, 0, 0.15);
          box-shadow: 8px 0 10px rgba(0, 0, 0, 0.15);
}

.content__title {
  font-size: 25.64px;
  font-weight: 600;
  line-height: 27.8px;
  text-transform: uppercase;
  margin-bottom: 12px;
  margin-left: 9px;
  -ms-flex-item-align: start;
      align-self: flex-start;
}

@media (min-width: 768px) {
  .content__title {
    margin-bottom: 12px;
    margin-left: 4px;
    -ms-flex-item-align: start;
        align-self: flex-start;
    text-transform: uppercase;
  }
}

@media (min-width: 992px) {
  .content__title {
    margin-bottom: 10px;
    margin-left: 5px;
    -ms-flex-item-align: start;
        align-self: flex-start;
    text-transform: unset;
  }
}

.content__item {
  font-size: 14px;
  font-weight: 400;
  line-height: 16.9px;
  padding: 14px 58px 20px 10px;
  border-radius: 10px;
  color: #959595;
  background-color: #f2f2f2;
  border-color: white;
  border: none;
  cursor: pointer;
}

@media (min-width: 768px) {
  .content__item {
    padding: 16px 65px 18px 10px;
  }
}

@media (min-width: 992px) {
  .content__item {
    padding: 14px 75px 18px 10px;
  }
}

.content__item:not(:last-child) {
  margin-top: 15px;
}

@media (min-width: 992px) {
  .content__item:not(:last-child) {
    margin-top: 17px;
  }
}

.content-info {
  font-family: "freestyle_scriptregular";
  font-weight: 400;
  font-size: 28px;
  line-height: 30.8px;
  color: white;
  z-index: 2;
}

@media (min-width: 768px) {
  .content-info {
    margin-left: 64px;
    margin-top: 35px;
  }
}

@media (min-width: 1400px) {
  .content-info {
    margin-right: 54px;
  }
}

.content-info p {
  text-align: center;
  margin-top: 0;
}

@media (max-width: 730px) {
  .content-info p {
    margin-left: 10px;
  }
}

@media (min-width: 768px) {
  .content-info p {
    font-size: 28px;
    line-height: 30.8px;
    margin-top: 0;
    margin-left: 1px;
    text-align: left;
  }
}

@media (min-width: 992px) {
  .content-info p {
    font-size: 40px;
    line-height: 42.8px;
    margin-top: 0;
  }
}

.content__slogan {
  font-family: "Open Sans";
  font-size: 37px;
  font-weight: 700;
  line-height: 1.5;
  text-align: center;
  text-transform: uppercase;
  margin-top: 31px;
  margin-left: 3px;
  color: white;
}

@media (max-width: 730px) {
  .content__slogan {
    margin-left: 10px;
  }
}

@media (min-width: 768px) {
  .content__slogan {
    font-size: 44px;
    line-height: 1.5;
    text-align: left;
    margin-top: 27px;
    margin-right: 79px;
  }
}

@media (min-width: 992px) {
  .content__slogan {
    font-size: 48px;
    line-height: 1.5;
    text-transform: uppercase;
    margin: 21px 0 30px;
  }
}

.content__select {
  position: relative;
}

.content select {
  font-size: 14px;
  font-weight: 400;
  line-height: 16.9px;
  position: relative;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  margin-top: 15px;
  padding: 18px 96px 18px 18px;
  border-radius: 10px;
  border: none;
  color: #959595;
  background-color: #f2f2f2;
  cursor: pointer;
  z-index: 2;
}

@media (min-width: 768px) {
  .content select {
    padding: 19px 119px 14px 13px;
  }
}

@media (min-width: 992px) {
  .content select {
    padding: 19px 122px 20px 9px;
  }
}

.content__select::before {
  content: "";
  position: absolute;
  display: in_bl;
  width: 0;
  height: 0;
  right: 6px;
  top: 38px;
  border: solid #bebebe;
  border-width: 0 2px 2px 0;
  padding: 2px;
  z-index: 3;
  text-align: center;
  pointer-events: none;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

@media (min-width: 768px) {
  .content__select::before {
    width: 0;
    height: 0;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
}

@media (min-width: 992px) {
  .content__select::before {
    font-size: 12px;
    width: 0;
    height: 0;
    right: 10px;
    top: 40px;
    border-style: solid;
    border-width: 6px 3.5px 0 3.5px;
    border-color: #959595 transparent;
    z-index: 4;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

@media (max-width: 768px) {
  .content__select::after {
    content: '';
    position: absolute;
    width: 17px;
    height: 50px;
    top: 15px;
    right: 1px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border: 1px solid #bebebe;
    background-color: #f2f2f2;
    z-index: 2;
  }
}

@media (max-width: 630px) {
  #menu__toggle {
    opacity: 0;
  }
  .menu {
    display: block;
    position: absolute;
    visibility: hidden;
    right: 0;
    top: -300px;
    width: 100%;
    margin: 0;
    padding: 10px 0;
    list-style: none;
    text-align: center;
    background-color: white;
    -webkit-transition-duration: 1s;
            transition-duration: 1s;
    z-index: -2;
  }
  .menu__item {
    display: block;
    padding: 12px 24px;
    -webkit-transition-duration: 1s;
            transition-duration: 1s;
  }
  .menu__btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: absolute;
    top: 42px;
    right: 14px;
    width: 30px;
    height: 26px;
    cursor: pointer;
    z-index: 1;
  }
  .menu__btn > span,
  .menu__btn > span::before,
  .menu__btn > span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #5363db;
    -webkit-transition-duration: 1s;
            transition-duration: 1s;
  }
  .menu__btn > span::before {
    content: '';
    top: -11px;
  }
  .menu__btn > span::after {
    content: '';
    top: 11px;
  }
  #menu__toggle:checked ~ .menu__btn > span {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  #menu__toggle:checked ~ .menu__btn > span::before {
    top: 0;
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  #menu__toggle:checked ~ .menu__btn > span::after {
    top: 0;
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
  }
  #menu__toggle:checked ~ .menu {
    visibility: visible;
    top: 104px;
  }
}

.features {
  padding: 50px 0 100px;
  background-color: white;
}

@media (min-width: 992px) {
  .features {
    padding: 100px 0 189px;
  }
}

.class__wrap {
  font-weight: 400;
  line-height: 16.8px;
  color: #555555;
  text-align: center;
}

.class__title {
  font-size: 22px;
  font-weight: 700;
  line-height: 1.5;
  color: #5363db;
  text-transform: uppercase;
  text-align: center;
  margin-top: 11px;
}

@media (min-width: 415px) {
  .class__title {
    font-size: 30px;
  }
}

.class__subtitle {
  display: inline-block;
  font-family: "freestyle_scriptregular";
  font-size: 35.99px;
  font-weight: 400;
  line-height: 1.5;
  color: #777777;
  text-transform: none;
}

@media (min-width: 992px) {
  .class__subtitle {
    font-size: 40.99px;
    line-height: 1.5;
    margin-top: 0;
  }
}

.class__box {
  text-align: left;
}

.class__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 15px;
}

@media (min-width: 768px) {
  .class__list {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 30px;
  }
}

@media (min-width: 1100px) {
  .class__list {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-top: 57px;
  }
}

.class__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  max-width: 500px;
  margin-bottom: 35px;
  cursor: pointer;
  -webkit-box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
          box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
}

@media (min-width: 768px) {
  .class__item {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin-bottom: 20px;
  }
}

@media (min-width: 1000px) {
  .class__item {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin-left: 18px;
  }
}

@media (min-width: 1200px) {
  .class__item {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    max-width: 538px;
    margin-bottom: 25px;
    margin-left: 35px;
  }
}

.class__visual {
  position: relative;
  width: 100%;
  max-width: 100%;
  min-height: 300px;
}

@media (min-width: 768px) {
  .class__visual {
    max-width: 242px;
    min-height: 300px;
  }
}

.class__visual img {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

.class__info {
  max-width: 267px;
  padding-left: 24px;
  padding-top: 25px;
  color: #555555;
}

.class__slogan {
  font-size: 20px;
  font-weight: 700;
  line-height: 22.8px;
  text-transform: uppercase;
  margin-bottom: 31px;
}

.class__text {
  width: 100%;
  max-width: 222px;
  font-size: 10px;
  line-height: 1.5;
  margin-bottom: 20px;
}

@media (min-width: 530px) {
  .class__text {
    font-size: 14px;
    margin-bottom: 16px;
  }
}

.class__author {
  font-size: 10px;
  color: #999999;
}

@media (min-width: 768px) {
  .class__author {
    font-size: 14px;
  }
}

.gallery-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.gallery__item {
  position: relative;
  width: 50%;
  cursor: pointer;
}

@media (min-width: 768px) {
  .gallery__item {
    width: 25%;
  }
}

.gallery__item::after {
  content: '';
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  z-index: 1;
  opacity: 0;
  -webkit-transition: opacity 1s;
  transition: opacity 1s;
  background-color: #5b6ceb;
}

.gallery__item::before {
  font-family: 'icomoon';
  font-size: 20px;
  content: "\e986";
  position: absolute;
  width: 41px;
  text-align: center;
  height: 38px;
  left: 43%;
  z-index: 2;
  padding: 5px;
  top: 46%;
  opacity: 0;
  -webkit-transition: opacity 1s;
  transition: opacity 1s;
  background-color: white;
  border-radius: 50%;
  color: #5b6ceb;
  cursor: pointer;
}

.gallery__item:hover::before {
  display: block;
  opacity: 0.7;
}

.gallery__item:hover::after {
  display: block;
  opacity: 0.7;
}

.info-wrap {
  padding-top: 50px;
}

@media (min-width: 992px) {
  .info-wrap {
    padding-top: 148px;
  }
}

.info__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (min-width: 768px) {
  .info__inner {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.info__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5;
  color: #555555;
}

.info__text P {
  max-width: 464px;
}

@media (min-width: 768px) {
  .info__text P {
    margin-right: 20px;
  }
}

.info__title {
  font-weight: 700;
  font-size: 30px;
  line-height: 1.5;
  color: #5b6ceb;
  text-transform: uppercase;
}

.info__box {
  margin-top: 27px;
  position: relative;
}

.visual {
  padding-top: 52%;
  position: relative;
  overflow: hidden;
}

.visual img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  max-width: none;
  -o-object-fit: cover;
     object-fit: cover;
}

.swiper-container {
  width: 250px;
}

@media (min-width: 448px) {
  .swiper-container {
    width: 400px;
  }
}

@media (min-width: 768px) {
  .swiper-container {
    width: 450px;
  }
}

@media (min-width: 1200px) {
  .swiper-container {
    width: 571px;
  }
}

.swiper-button-next::before {
  content: '';
  position: absolute;
  border-radius: 23px;
  width: 48px;
  height: 48px;
  background-color: white;
  left: 11px;
  z-index: -1;
  -webkit-box-shadow: 9px 0 9px rgba(0, 0, 0, 0.1);
          box-shadow: 9px 0 9px rgba(0, 0, 0, 0.1);
  top: -4px;
}

.swiper-button-next:after {
  content: 'next';
  font-size: 20px;
  color: #5b6ceb;
  position: absolute;
  left: 30px;
  top: 10px;
}

.swiper-button-prev::before {
  content: '';
  position: absolute;
  width: 48px;
  height: 48px;
  left: -35px;
  top: -4px;
  border-radius: 23px;
  background-color: white;
  z-index: -1;
  -webkit-box-shadow: 9px 0 9px rgba(0, 0, 0, 0.1);
          box-shadow: 9px 0 9px rgba(0, 0, 0, 0.1);
}

.swiper-button-prev:after {
  content: 'prev';
  position: absolute;
  left: -15px;
  top: 10px;
  font-size: 20px;
  color: #5b6ceb;
}

.opportunity-wrap {
  position: relative;
  min-height: 799px;
  margin-top: 175px;
  background-image: url(../images/bg-02.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.opportunity-wrap::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #5b6ceb;
  opacity: 0.7;
}

.opportunity__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  position: relative;
  margin: 0 -10px;
  padding-top: 146px;
  z-index: 2;
}

.opportunity__box > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  padding: 0 10px 60px;
  text-align: center;
}

@media (min-width: 768px) {
  .opportunity__box > div {
    width: calc(100%/4);
    padding: 0px 10px 68px;
    margin-top: -15px;
  }
}

.opportunity__item h2 {
  font-size: 18px;
  font-weight: 700;
  line-height: 1.5;
  color: #ffffff;
  margin-top: 37px;
}

.opportunity__item p {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.6;
  color: #ffffff;
  text-align: center;
  padding: 0 5px;
}

.opportunity__title {
  margin-bottom: 43px;
}

.opportunity__visual {
  position: relative;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.opportunity__link::before {
  content: '';
  position: absolute;
  top: -13px;
  left: -18px;
  width: 70px;
  height: 70px;
  border-radius: 34px;
  z-index: 1;
  background-color: transparent;
  border: 3px solid #ffffff;
}

.opportunity__link-mod::before {
  content: '';
  position: absolute;
  top: -13px;
  left: -25px;
  width: 70px;
  height: 70px;
  z-index: 1;
  border-radius: 34px;
  background-color: transparent;
  border: 3px solid #ffffff;
}

.opportunity__link-mod2::before {
  position: absolute;
  content: '';
  top: -9px;
  left: -12px;
  z-index: 1;
  width: 70px;
  height: 70px;
  border-radius: 34px;
  background-color: transparent;
  border: 3px solid #ffffff;
}

.opportunity__mod {
  position: relative;
  top: 8px;
  left: -2px;
}

.opportunity__mod2 {
  position: relative;
  left: 2px;
  top: 3px;
}

.prices-wrap {
  min-height: 699px;
  background-image: url(../images/bg-03.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.prices__inner {
  padding-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media (min-width: 768px) {
  .prices__inner {
    padding-top: 100px;
  }
}

@media (min-width: 1200px) {
  .prices__inner {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.prices span {
  display: block;
}

.prices span + span:not(:last-child) {
  margin-top: 41px;
}

.prices__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #ffffff;
  cursor: pointer;
  -webkit-box-shadow: 9px 0 50px rgba(0, 0, 0, 0.1);
          box-shadow: 9px 0 50px rgba(0, 0, 0, 0.1);
  margin: 30px;
}

@media (min-width: 1170px) {
  .prices__item {
    margin: 0;
  }
}

.prices__num {
  font-size: 67.35px;
  line-height: 1.12;
  text-transform: uppercase;
  position: relative;
  color: #ffffff;
  font-weight: 600;
  background-color: #5b6ceb;
  text-align: center;
  padding: 33px 22px 44px 93px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.prices__num::before {
  content: '$';
  position: absolute;
  font-size: 35px;
  left: 95px;
  top: 56px;
}

@media (min-width: 450px) {
  .prices__num::before {
    left: 101px;
  }
}

.prices__num > sub {
  position: relative;
  font-size: 18px;
  line-height: 1.3;
  margin-left: 16px;
}

.prices__num > sub::before {
  content: '/';
  position: absolute;
  font-size: 20px;
  top: -2px;
  left: -15px;
}

.prices__date {
  position: relative;
  font-size: 17px;
  line-height: 1.3;
  font-weight: 400;
  color: #555555;
}

.prices__date::after {
  content: '';
  position: absolute;
  width: 100px;
  border: 1px solid #d7d7d7;
  left: 24px;
  top: 48px;
}

@media (min-width: 450px) {
  .prices__date::after {
    left: 57px;
    top: 40px;
  }
}

.prices__help {
  font-size: 18px;
  line-height: 1.3;
  font-weight: 400;
  color: #555555;
}

.prices__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: center;
  padding: 46px 97px 51px;
}

@media (min-width: 450px) {
  .prices__info {
    text-align: left;
    padding: 46px 78px 51px 78px;
  }
}

.prices__btn {
  font-size: 18px;
  font-weight: 600;
  margin-top: 45px;
  text-transform: unset;
  padding: 0px 53px 6px 56px;
  border-radius: 22px;
  text-align: center;
  cursor: pointer;
  -webkit-transition: background-color 1s, -webkit-box-shadow 1s;
  transition: background-color 1s, -webkit-box-shadow 1s;
  transition: box-shadow 1s, background-color 1s;
  transition: box-shadow 1s, background-color 1s, -webkit-box-shadow 1s;
}

@media (min-width: 450px) {
  .prices__btn {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    padding: 16px 50px;
  }
}

.prices__btn:hover {
  background-color: #5363db;
  -webkit-box-shadow: 3px 0 5px rgba(0, 0, 0, 0.15);
          box-shadow: 3px 0 5px rgba(0, 0, 0, 0.15);
}

.footer {
  background-color: #5b6ceb;
  color: white;
  padding-top: 50px;
}

@media (min-width: 992px) {
  .footer {
    padding-top: 78px;
  }
}

.footer-inner {
  display: block;
}

@media (min-width: 768px) {
  .footer-inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.footer-inner h3 {
  font-size: 18px;
  font-weight: 700;
  line-height: 1.2;
  text-transform: uppercase;
}

@media (min-width: 768px) {
  .footer__box {
    width: 50%;
  }
}

.footer__about p {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5;
  max-width: 468px;
  margin-top: 54px;
}

.footer__connect {
  display: none;
}

@media (min-width: 500px) {
  .footer__connect {
    display: block;
    padding-left: 0;
  }
}

@media (min-width: 992px) {
  .footer__connect {
    padding-left: 13px;
  }
}

.footer__connect h3 {
  text-transform: uppercase;
}

.footer__connect-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 55px;
}

.footer__connect-list > li {
  width: 50%;
  padding: 0 10px 22px;
}

.footer__connect__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__connect__icon {
  font-size: 23px;
  font-family: 'icomoon';
}

.footer__connect__link {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5;
  color: white;
  margin-left: 15px;
}

.footer__connect a {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5;
  color: white;
}

.footer .social__list {
  display: none;
}

@media (min-width: 500px) {
  .footer .social__list {
    display: block;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    padding: 22px 0 50px;
  }
}

@media (min-width: 992px) {
  .footer .social__list {
    padding: 22px 0 100px;
  }
}

.footer .social__item {
  margin-right: 11px;
}

.footer .social__link {
  font-size: 25px;
  color: white;
}

.footer .copyright {
  background-color: #5b6ceb;
  position: relative;
  text-align: center;
  padding: 18px 0;
  color: #b7bffc;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.3;
}

@media (min-width: 500px) {
  .footer .copyright {
    padding: 28px 0;
  }
}

.footer .copyright p {
  visibility: hidden;
}

@media (min-width: 500px) {
  .footer .copyright p {
    visibility: visible;
  }
}

.footer .copyright::before {
  content: '';
  background: #5363db;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.5;
  width: 100%;
  height: 100%;
}
/*# sourceMappingURL=style.css.map */